{
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "tabWidth": 4,
                "printWidth": 500
            }
        },
        {
            "files": "*.css",
            "options": {
                "tabWidth": 2,
                "printWidth": 120
            }
        }
    ]
}
